.cache
.github
.git
.idea
.env*
.gitignore
.tool-versions
.dockerignore
.eslintrc.json
.prettierrc
components.json
Dockerfile
docker-compose.yml
build/
node_modules/
playwright-report/
public/build/
test-results/
README.md
